<div>
  <% @teacher = channel.leader %>
  <h2><%= channel.channelable.dept.name %> <%= channel.channelable.class_no %></h2>
  <p style="font-size:12px;">
    Professor <%= @teacher.first_name %> <%= @teacher.last_name %>
    <br/>
    <%= @teacher.department %>
  </p>
  <p style="font-size:12px;">
    <%= channel.channelable.schedule %>
    <br/>
    <%= @teacher.location %>
  </p>
</div>
