<div class="modal-header">
  <a class="close" data-dismiss="modal">x</a>
  <h3><%= post.title %></h3>
  <%
    if(post.poster_type.eql?"Student")
      person = Student.find(post.poster_id);
    else
      person = Teacher.find(post.poster_id);
    end
  %>
</div>
<div class="modal-body">
  <div style="float:left;width:58%;">
    <h4><%=post.title%></h4>
    <h6 id="<%=post.poster_id%>" name="<%=post.poster_type%>">by <label class="hover"><%= person.first_name %> <%= person.last_name %></label><span style="font-weight:normal"> on <%=post.created_at.strftime("%m/%d/%y")%></span>
    <span class="comment" id="<%=post.id%>"><a href="#" style="font-weight:normal;color:orange"><i class="icon-arrow-up"></i>Relevant</a></span></h6>
    <p><%= post.content %></p>
  </div>
  <div style="float:right;width:40%">
    <h4 style="padding-bottom:4px;">Comments:</h4>
  <div id="comments" style="min-height:150px;max-height:170px;overflow-y: scroll">
    <% for i in post.posts %>
      <%
        if(i.poster_type.eql?"Student")
          person = Student.find(i.poster_id);
        else
          person = Teacher.find(1);
        end
      %>
        <blockquote style="margin-bottom:5px;" id="<%=person.id%>" name="<%=i.poster_type%>">
	  <p style="font-size:12px;" id="<%=person.id%>" name="<%=i.poster_type%>"><%= i.content %></p>
	    <span class="hover"><%= person.first_name %> <%= person.last_name %></span><span> <%= i.created_at.strftime("%m/%d/%y")%></span><span class="comment" id="<%=i.id%>"><a href="#"><i class="icon-arrow-up"></i>Relevant</a></span>
	</blockquote>
    <% end %>
  </div>
    <div id="newcomment" style="margin-top:10px;">
      <form id="commentform" action="" method="get">
        <textarea cols="120" rows="2" name="content" id="contentbox" style="resize:none;"></textarea>
	<input id="btnsubmit" class="btn btn-success" type="submit" name="btnsubmit" value="Add Comment"/>
    </div>
  </div>
</div>

<script>
  $(function(){
    hoverHTML = "<div id='content'>Loading...</div>";
    $(".hover").hovercard({
      detailsHTML: hoverHTML,
      width: 230,
      onHoverIn: function () {
        $.ajax({url: "/student/profile?id="+($(this).parent().attr("id"))+"&type="+($(this).parent().attr("name")), cache: true, success: function(html){
	    $('#content').html(html); 	
          }
	});
      }
    });
    $(".comment").click(function(event){
      $(this).fadeOut("slow",complete);
      $.ajax({ url: "/student/upvote?id="+(this.id), cache: true, success: function(html){
        }					
      });
      function complete() {
          $(this).html("Thanks for upvoting!");
          $(this).fadeIn("slow");
      }
    });
    $("#commentform").submit(function() {
        $.ajax({url: "/student/newcomment?pid="+("<%=post.id%>")+"&text="+($("#contentbox").val()), cache: true, success: function(html){
	    $('#comments').append(html); 	
	    $("#comments").animate({ scrollTop: 3600 }, "slow");
          }
	});
	return false;
    });
  });
</script>
