<style>
  .results {
    color:black;
    margin-left:-25px;
    padding-left:-25px;
  }
  .results:hover { 
    color:white;
    text-decoration:none;
    background-color:#0088cc;
  }
  .subject {
    color:#C8C8C8 ;
  }
  .dates {
    color:black;
    float:right;
  }
</style>
<% noresult = 1 %>

<% i=0 %>
<% while i<assignments.size %>
 	<% 
       noresult = 0
       name = assignments[i].name
       if assignments[i].atype==0 
         name = "Class#{assignments[i].serial}"
       elsif assignments[i].atype==1
         name = "HW#{assignments[i].serial}"
       elsif assignments[i].atype==2
         name = "Quiz#{assignments[i].serial}"
       elsif assignments[i].atype==3
         name = "Midterm#{assignments[i].serial}"
       end
    %>
    <a href="#assign_<%=assignments[i].id%>" id="<%=assignments[i].id%>" onclick="displayAssign(this);" class="results"><%= name %><span class="subject"> in <%= assignments[i].classroom.channel.name %></span><span class="dates">Due <%= assignments[i].due_date.strftime("%A %m/%d/%y") %></span></a>
	<% i=i+1 %>
<% end %>

<% if noresult==1 %>
  <p>No results</p>
<% end %>
