<h1>ss</h1>
<%= form_for(@assignment) do |f| %>
<div class="field">
<%= f.label :atype %><br />
<%= f.text_field :atype %> </div>
<div class="field">
<%= f.label :content %><br /> <%= f.text_field :content %>
</div>
<div class="actions">
<%= f.submit "Update" %> </div>
<% end %>

	