<% if !session[:user_id] %>
  <p>Please login or register.
  <%= link_to 'Login', student_login_path %>
  </p>
  <%= redirect_to :action => "login" %>
<% else %>
<div class="container-fluid" style="padding-left:5%;margin-left:auto;margin-right:auto;width:97%">
<!--<h1> Welcome <%= @student.first_name %> </h1>-->
  <div class = "row-fluid">
    <!--Left side classes navpanel-->
    <div class="span3">
      <div class="well sidebar-nav" style="height:550px;">
        <ul class="nav nav-list">
	  <!--Classes-->
	  <li class="nav-header">
	    <a href="#" style="color:gray;">All Classes</a>
	  </li>
	    <% first = 0 %>
	    <% @channels.each do |c| %>
	      <% if first==0 %>
	      <li class="active">
	      <% first = 1%>
	      <% else %>
	      <li>
	      <% end %>
	        <a href="#class_<%= c.id %>" id="<%= c.id %>" class="mychannel" data-toggle="tab"><%= c.channelable.dept.name %> <%= c.channelable.class_no %></a>
	      </li>
	    <% end %>
	  <!--Clubs-->
	  <li class="nav-header">
	    <a href="#" style="color:gray;">Clubs</a>
	  </li>
	    <li>
	      <a href="#">IEEE</a>
	    </li>
	    <li>
	      <a href="#">ISA</a>
	    </li>
	</ul>
      </div>
    </div>

    <!--scripts to handle class changes-->
    <script>
      $(function() {
	$(".mychannel").click(function(event){
	    $('#infobox').html("<p>Loading...</p>");
	    $('#nutshell').html("<p>Loading...</p>");
	    $('#calendar').html("<p>Loading...</p>");
            var infoload = $.ajax({ url: "/student/infobox?id="+(this.id-1), cache: true, success: function(html){
		  $("#infobox").html(html);
	      }					
	    });
            var nutload = $.ajax({ url: "/student/nutshell?id="+(this.id-1), cache: true, success: function(html){
		  $("#nutshell").html(html);
	      }					
	    });
            var caload = $.ajax({ url: "/student/calendar?id="+(this.id-1), cache: true, success: function(html){
		  $("#calendar").html(html);
	      }					
	    });
	});
      });
    </script>

    <div class="span8">
    <div class="well2" style="height:550px;width:98%;margin-left:-20px;">

    <!--Main content-->
    <div class="span7" style="margin-left:-5px;width:65%;">
      <!--info box-->
      <div class="well3 tab-content" id="infobox">
          <%= render(:partial => "infoview", :locals => {:channel => @channels[0]}) %>
      </div>
      <!--nutshell box-->
      <div class="well3">
        <h3> Nutshell</h3>
	<div class="scrollArea" id="nutshell">
	  <!--default nutshell-->
          <%= render(:partial => "nutshellview", :locals => {:channel => @channels[0]}) %>
	</div>
      </div>
    </div>

    <!--Right side calendar etc content-->
    <div class="span4">
      <!--calendar box-->
      <div class="well3">
        <div id="calendar">
	  <!--default calendar-->
          <%= render(:partial => "calendarview", :locals => {:channel => @channels[0]}) %>
	</div>
      </div>
      <!--syllabus box-->
      <div class="well3">
        <div class="scrollArea_syll" style="overflow-x:hidden;">
	  <ul class="nav nav-listnav nav-list">
	    <li><a href="#">Syllabus</a></li>
	    <li><a href="#">Course Schedule</a></li>
	    <li><a href="#">Course Material</a></li>
	  </ul>
	</div>
      </div>
    </div>

    <!--General | Updates | Questions-->
    <div class="span11">
      <div class="well4">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#updates" data-toggle="tab">Updates</a></li>
	<li><a href="#general" data-toggle="tab">General</a></li>
	<li><a href="#questions" data-toggle="tab">Questions</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="updates">
	  <ul>
	    <li>HW2 due date changed from the 23rd to the 25th.</li>
	    <li>No class on tuesday the 23rd.</li>
	  </ul>
	</div>
	<div class="tab-pane" id="general">
	  General Stuff
	</div>
	<div class="tab-pane" id="questions">
	  Questions
	</div>
      </div>
      <script>
        $(function(){ 
		$('#general').tab('show')
	})
      </script>
      </div>
    </div>
  </div>
</div>
<% end %>
