<h1>Register</h1>

<% form_for :user do |f| %>
  <p>
	<%= f.label :username %>:
	<%= f.text_field :username %>
  </p>
  <p>
	<%= f.label :e_mail, "E-Mail" %>:
	<%= f.text_field :e_mail %>
  </p>
  <p>
	<%= f.label :password %>:
	<%= f.password_field :password  %>
  </p>
  <p>
	<%= f.submit "Register" %>
  </p>
<% end %>