<% 
  @all_assignments = channel.channelable.assignments
  time = Time.new
  for d in 0..5
      date = Date.parse("#{time.year}-#{time.month}-#{time.day+d}")
%>
    <div class="entry1">
      <% if d==0 %>
      <h4><%= date.strftime("Today %m/%d/%y") %></h4>
      <% elsif d==1 %>
      <h4><%= date.strftime("Tomorrow %m/%d/%y") %></h4>
      <% else %>
      <h4><%= date.strftime("%A %m/%d/%y") %></h4>
      <% end %>
      <p style="margin-left:5px;">
    <%
      @assignments = @all_assignments.find(:all, :conditions => {:due_date => date});
        for a in @assignments
    %>
    <% 
       name = a.name
       if a.atype==0 
         name = "Class#{a.serial}"
       elsif a.atype==1
         name = "HW#{a.serial}"
       elsif a.atype==2
         name = "Quiz#{a.serial}"
       elsif a.atype==3
         name = "Midterm#{a.serial}"
       end
    %>
          <a href="#assign_<%= a.id %>" class="assignments" id="<%= a.id %>" rel="popover" title="<%= name %>" data-content="<%= a.content %>"><%= name %></a><br>
        <% end %>
      </p>
    </div>
    <p class="drawline"></p> 
  <% end %>

<div class="modal" id="showAssign" style="display:none;">
  <p>modal stuff</p>
</div>

<script>
  $(function() {
    $("a[rel=popover]").popover();
    $(".assignments").click(function(event){
      $.ajax({ url: "/student/assignment?id="+(this.id), cache: true, success: function(html){
          $("#showAssign").html(html)
	}
      });
      $("#showAssign").modal('show');
    });
  });
</script>
