<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Create an Assignment</h3>
</div>
<div class="modal-body">
  <%= form_for :assignment, :url=>{:controller=>'assignments', :action=> 'create'}, :remote=>true do |f| %>
    <p>
      <%= f.label :name, "Name(optional):" %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%=f.label :assigned_date, "Date Assigned:"%>
      <%= f.text_field :assigned_date %>
    </p>
    <p>
      <%=f.label :due_date, "Date Due:"%>
      <%= f.text_field :due_date %>
    </p>
    <p>
      <%=f.label :content, "Content:"%>
      <%= f.text_area :content, :size => "30x5"%>
    </p>
    <p>
      <%= f.hidden_field :atype, :value=> 0 %>
      <%= f.hidden_field :class_id, :value=> 1 %>
      <%= f.submit "Create Assignment", :class => "btn btn-success" %>
    </p>
  <% end %>
</div>
<div class="modal-footer">
</div>
