<%
  title = assgn.name
  if assgn.name.nil?
    if assgn.atype==0
      title = "Class #{assgn.serial}"
    elsif atype==1
      title = "HW #{assgn.serial}"
    elsif atype==2
      title = "Quiz #{assgn.serial}"
    elsif atype==3
      title = "Midterm #{assgn.serial}"
    end
  end
%>
<h3>Editing <%=title%></h3>
    <div id="editpost" style="margin-top:10px;">
      <form id="commentform" action="" method="get">
        <label for="a_name">Name:</label>
	<input id="a_name" name="a_name" type="text" value="<%=assgn.name%>"/>
	<label for="a_start">Date Assigned:</label>
	<input id="a_start" name="a_start" type="text" value="<%=assgn.assigned_date%>"/>
        <label for="a_end">Date Due:</label>
	<input id="a_end" name="a_end" type="text" value="<%=assgn.due_date%>"/>
	<label for="a_content">Content:</label>
        <textarea cols="350" rows="5" name="a_content" id="a_content" ><%=assgn.content%></textarea>
        <label for="a_file">Additional Files:</label>
	<input id="a_file" name="a_file" type="text" data-provide="typeahead" placeholder="Add a file...">
	<br/><br/>
	<input id="btnsubmit" class="btn btn-success" type="submit" name="btnsubmit" value="Update Assignment"/>
    </div>
<div id="success" style="display:none">
  <p>Successfully Updated!</p>
</div>

<script>
    function getPaths()
    {
      var paths = ['random.txt', 'blah.txt', 'blue.txt', 'red.txt'];
      return paths;
    }

    $('#a_file').typeahead({ 
      source: getPaths() 
    }) 
    $("#editpost").submit(function() {
        $.ajax({url: "/assignments/updateassignment?"+"assgnid=<%=assgn.id%>"+"&assignment[name]="+($("#a_name").val())+"&assignment[assigned_date]="+($("#a_start").val()), cache: true, success: function(html){
	    $('#success').show(); 	
          }
	});
	return false;
    });
</script>
