<style>
.slides_container {
  width:770px;
  display:none;
}
.slides_container div {
  width:770px;
  height:500px;
  display:block;
}
.pagers {
  display:none;
}
</style>

<div id="bigbox">
<div id="boxcontainer" class="slides_container">
<div id="mainpage">
<div class="well" style="background-color:white;width:770px;height:425px;overflow-y:scroll;padding:0px;margin-bottom:0px">
  <h2>Classes<h2/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
	<th>Name/Description</th>
	<th>Due</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      <% for a in 1..assignments[0].size-1 %>
        <% classname = assignments[0][a].classroom_id%>
      <tr>
        <% if assignments[0][a].name.eql?nil %>
	  <% name = assignments[0][a].content %>
	<% else %>
	  <% name = assignments[0][a].name %>
	<% end %>
        <td><%=assignments[0][a].serial%></td>
	<td><%=assignments[0][a].content%></td>
	<td><%=assignments[0][a].due_date%></td>
	<td><a href="#2" class="link" id="<%=assignments[0][a].id%>"rel="popper" title="View/Edit"><i class="icon-share-alt"></i></a><a href="#delete" id="<%=a%>"rel="popper" title="Delete"><i class="icon-remove"></i></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h2>HWs<h2/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
	<th>Name/Description</th>
	<th>Due</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      <% for a in 1..assignments[1].size-1 %>
      <tr>
        <% if assignments[1][a].name.eql?nil %>
	  <% name = assignments[1][a].content %>
	<% else %>
	  <% name = assignments[1][a].name %>
	<% end %>
        <td><%=assignments[1][a].serial%></td>
	<td><%=assignments[1][a].content%></td>
	<td><%=assignments[1][a].due_date%></td>
	<td><a href="#2" class="link" id="<%=assignments[1][a].id%>"rel="popper" title="View/Edit"><i class="icon-share-alt"></i></a><a href="#delete" id="<%=a%>"rel="popper" title="Delete"><i class="icon-remove"></i></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

  <div id="showpage" style="width:4000px;height:550px;float:left;position:relative">
    <a href="#1" class="link">Go back</a>
    <div id="assgndata">
      <p>content</p>
    </div>
  </div>
</div>
</div>

<script>
      $(function() {
        $("a[rel=popper]").tooltip({placement:"top"});
	$("#bigbox").slides({
          preload: true,
	  pagination: true,
	  generatePagination: true,
	  paginationClass: 'pagers',
	  start: 0,
	  animationComplete: function(current){
    	    window.location.hash = '#viewing=' + current;
	  }
	});
        $(".link").click(function(event){
            $.ajax({ url: "/assignments/editassignment?id="+(this.id)+"&classid="+("<%=classname%>"), cache: true, success: function(html){
		  $("#assgndata").hide();
		  $("#assgndata").html(html);
		  $("#assgndata").fadeIn("slow");
	      }					
	    });
	});
      });
</script>
