<!DOCTYPE html>
<html>
<head>
  <title>Channel26</title>
  <%= stylesheet_link_tag "bootstrap-responsive",
                          "bootstrap" %>
  <%= javascript_include_tag "jquery-1.7",
                             "jquery-1.7.min",
			     "jquery.hovercard.min.js",
                             "application",
			     "slides.jquery.js",
			     "slides.min.jquery.js",
                             "bootstrap",
                             "bootstrap-alert",
                             "bootstrap-button",
                             "bootstrap-carousel",
                             "bootstrap-collapse",
                             "bootstrap-dropdown",
                             "bootstrap-tooltip",
                             "bootstrap-popover",
                             "bootstrap-scrollspy",
                             "bootstrap-tab",
                             "bootstrap-modal",
                             "bootstrap-typeahead" %>
</head>
<body>
  <script>
    $(function() {
      $("#search").keyup(function(event){
        if(event.keyCode == 13){
	  $.ajax({ url: "/student/search?query="+escape($(this).val()), cache: true, success: function(html){
	      $("#resultsList").html(html);
	      $("#resultsBox").show();
	    }
	  });
        }
      });
    });
  </script>

  <!--Navbar-->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <!--Logo-->
	<% if(session[:user_type]).eql?("Teacher") %>
	  <%= link_to 'Channel26', teacher_index_path, :class =>"brand" %>
	<% else %>
	  <%= link_to 'Channel26', student_index_path, :class =>"brand" %>
	<% end %>
	<!--Search Box-->
	<form class="navbar-search pull-left" action="">
	  <input type="text" class="search-query span6" id="search" placeholder="Ask Duarte a question" onblur="stopDisplay();">
	  <div id="resultsBox" class="dropdown-menu span10" style="display:none;">
	    <ul id="resultsList">
	    </ul>
	  </div>
	</form>
<script>
  function displayAssign(assign)
  {
        $.ajax({ url: "/student/assignment?id="+(assign.id), cache: true, success: function(html){
            $("#showResult").html(html);
	  }
        });
        $("#showResult").modal('show');
  }
  function stopDisplay()
  {
    setTimeout("$('#resultsBox').hide();",200);
  }
</script>
  <div class="modal" id="showResult" style="display:none;z-index:9999">
    <p>Loading...</p>
  </div>
        <!--Logged in Box-->
	<% if session[:user_id] %>
	  <ul class="nav nav-list pull-right">
	  <li class="divider-vertical"> </li>
	  <li> <%= link_to 'Logout', student_logout_path %> </li>
	  </ul>
	  <p class="navbar-text pull-right">Logged in as <a href="#">
	  <% if session[:user_type].eql?("Teacher")%>
	    <%= Teacher.find(session[:user_id]).first_name %> <%= Teacher.find(session[:user_id]).last_name %>
	  <% else %>
	    <%= Student.find(session[:user_id]).first_name %> <%= Student.find(session[:user_id]).last_name %>
	  <% end %>
	  </a></p>
        <% else %>
	  <ul class="nav nav-list pull-right">
	    <li><%= link_to 'Log In', student_login_path %></li>
            <li class="divider-vertical"></li>
	    <li><%= link_to 'Register', student_register_path %></li>
	  </ul>
	<% end %>
      </div>
    </div>
  </div>

  <!--Main Page-->
  <div class="container-fluid">
    <br/><br/><br/>
    <div class="row-fluid">
      <%= yield %>
    </div>
  </div>

  <!--Horizontal Split-->
  <hr/>

  <!--Footer-->
  <div class="container-fluid">
    <div class="row-fluid">
      <footer>
        &copy; 2012 Channel26 ALL RIGHTS RESERVED
      </footer>
    </div>
  </div>

</body>
</html>
