<!DOCTYPE html>
<html>
<head>
  <title>Channel26</title>
  <%= stylesheet_link_tag "bootstrap-responsive",
                          "bootstrap" %>
  <%= javascript_include_tag "jquery-1.7",
                             "jquery-1.7.min",
                             "application", 
                             "bootstrap",
                             "bootstrap-alert",
                             "bootstrap-button",
                             "bootstrap-carousel",
                             "bootstrap-collapse",
                             "bootstrap-dropdown",
                             "bootstrap-tooltip",
                             "bootstrap-popover",
                             "bootstrap-scrollspy",
                             "bootstrap-tab",
                             "bootstrap-modal",
                             "bootstrap-typeahead" %>
</head>
<body>
  
  <!--Navbar-->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <!--Logo-->
	<a class="brand" href="#">Channel26</a>
	<!--Search Box-->
	<form class="navbar-search pull-left" action="">
	  <input type="text" class="search-query span6" placeholder="Search">
	</form>
        <!--Logged in Box-->
	<% if session[:user_id] %>
	  <p class="navbar-text pull-right">Logged in as <a href="#">
	    <%= Student.find(session[:user_id]).first_name %>
	  </a></p>
        <% else %>
	  <li><%= link_to 'Log In', student_login_path %></li>
	<% end %>
      </div>
    </div>
  </div>

  <!--Main Page-->
  <div class="container-fluid">
    <br/><br/><br/>
    <div class="row-fluid">
      <%= yield %>
    </div>
  </div>

  <!--Horizontal Split-->
  <hr/>

  <!--Footer-->
  <div class="container-fluid">
    <div class="row-fluid">
      <footer>
        &copy; 2012 Channel26 ALL RIGHTS RESERVED
      </footer>
    </div>
  </div>

</body>
</html>
